In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("C:/Users/yashw/home_price_predictor/data/hyderabad_real_estate_dataset3.csv")

In [4]:
data.head()

,Property_ID,Transaction_Date,Transaction_Year,Transaction_Month,Market_Condition,Location_Name,Location_Maturity,Area_SqFt,Bedrooms,Bathrooms,...,IT_Hub_Proximity_Km,Metro_Proximity_Km,Amenities_Score,Furnishing_Status,Transaction_Type,Floors,Age_of_Property_Years,Price_per_SqFt,Price_Lakhs,Period
0,HYD_000001,2024-05-05,2024,5,Stabilization,Begumpet,established,1398,3,2,...,11.9,0.7,7,Unfurnished,New_Property,1,0,25623.0,358.21,2020-2025
1,HYD_000002,2018-07-10,2018,7,RERA Implementation,Begumpet,established,1717,4,4,...,5.6,0.9,7,Unfurnished,New_Property,1,0,9876.0,169.57,2015-2019
2,HYD_000003,2024-07-14,2024,7,Stabilization,Secunderabad,established,3188,4,3,...,6.1,1.8,7,Unfurnished,New_Property,1,2,21526.0,686.25,2020-2025
3,HYD_000004,2022-08-04,2022,8,Post-COVID Boom,Kukatpally,established,2713,5,4,...,2.1,9.0,5,Unfurnished,Resale,3,11,8702.0,236.09,2020-2025
4,HYD_000005,2019-10-02,2019,10,Market Consolidation,Somajiguda,established,1382,2,2,...,2.0,14.1,4,Fully_Furnished,Resale,1,3,13197.0,182.38,2015-2019

In [5]:
data.columns

Index(['Property_ID', 'Transaction_Date', 'Transaction_Year',
       'Transaction_Month', 'Market_Condition', 'Location_Name',
       'Location_Maturity', 'Area_SqFt', 'Bedrooms', 'Bathrooms',
       'Property_Type', 'Resale', 'New_Construction', 'Gated_Community',
       'Builder_Reputation', 'Year_Built', 'Possession_Status',
       'Facing_Direction', 'Balcony', 'Maintenance_Staff', 'Gymnasium',
       'Swimming_Pool', 'Landscaped_Gardens', 'Jogging_Track', 'Club_House',
       '24x7_Security', 'Power_Backup', 'Car_Parking', 'Lift_Available',
       'School_Proximity_Km', 'Hospital_Proximity_Km', 'IT_Hub_Proximity_Km',
       'Metro_Proximity_Km', 'Amenities_Score', 'Furnishing_Status',
       'Transaction_Type', 'Floors', 'Age_of_Property_Years', 'Price_per_SqFt',
       'Price_Lakhs', 'Period'],
      dtype='object')

In [8]:
print(type(data["Location_Name"].value_counts()))

<class 'pandas.core.series.Series'>

In [9]:
y=data["Location_Name"].value_counts()

In [10]:
for i in y.index:
    print(i)

Kukatpally
Miyapur
Nallagandla
Narsingi
Uppal
Punjagutta
Kollur
Rajendranagar
Nizampet
Begumpet
Attapur
Somajiguda
Patancheru
LB Nagar
Bachupally
Hitech City
Rampally
Mehdipatnam
Banjara Hills
Kompally
Gachibowli
Pocharam
Ameerpet
Tolichowki
Kondapur
Secunderabad
Jubilee Hills
Shamshabad
Manikonda
Madhapur