In [4]:
import pandas as pd

In [5]:
data=pd.read_csv("C:/Users/yashw/home_price_predictor/data/hyderabad_real_estate_dataset3.csv")

In [6]:
data.head()

,Property_ID,Transaction_Date,Transaction_Year,Transaction_Month,Market_Condition,Location_Name,Location_Maturity,Area_SqFt,Bedrooms,Bathrooms,...,IT_Hub_Proximity_Km,Metro_Proximity_Km,Amenities_Score,Furnishing_Status,Transaction_Type,Floors,Age_of_Property_Years,Price_per_SqFt,Price_Lakhs,Period
0,HYD_000001,2024-05-05,2024,5,Stabilization,Begumpet,established,1398,3,2,...,11.9,0.7,7,Unfurnished,New_Property,1,0,25623.0,358.21,2020-2025
1,HYD_000002,2018-07-10,2018,7,RERA Implementation,Begumpet,established,1717,4,4,...,5.6,0.9,7,Unfurnished,New_Property,1,0,9876.0,169.57,2015-2019
2,HYD_000003,2024-07-14,2024,7,Stabilization,Secunderabad,established,3188,4,3,...,6.1,1.8,7,Unfurnished,New_Property,1,2,21526.0,686.25,2020-2025
3,HYD_000004,2022-08-04,2022,8,Post-COVID Boom,Kukatpally,established,2713,5,4,...,2.1,9.0,5,Unfurnished,Resale,3,11,8702.0,236.09,2020-2025
4,HYD_000005,2019-10-02,2019,10,Market Consolidation,Somajiguda,established,1382,2,2,...,2.0,14.1,4,Fully_Furnished,Resale,1,3,13197.0,182.38,2015-2019

In [7]:
data.columns

Index(['Property_ID', 'Transaction_Date', 'Transaction_Year',
       'Transaction_Month', 'Market_Condition', 'Location_Name',
       'Location_Maturity', 'Area_SqFt', 'Bedrooms', 'Bathrooms',
       'Property_Type', 'Resale', 'New_Construction', 'Gated_Community',
       'Builder_Reputation', 'Year_Built', 'Possession_Status',
       'Facing_Direction', 'Balcony', 'Maintenance_Staff', 'Gymnasium',
       'Swimming_Pool', 'Landscaped_Gardens', 'Jogging_Track', 'Club_House',
       '24x7_Security', 'Power_Backup', 'Car_Parking', 'Lift_Available',
       'School_Proximity_Km', 'Hospital_Proximity_Km', 'IT_Hub_Proximity_Km',
       'Metro_Proximity_Km', 'Amenities_Score', 'Furnishing_Status',
       'Transaction_Type', 'Floors', 'Age_of_Property_Years', 'Price_per_SqFt',
       'Price_Lakhs', 'Period'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Property_ID            10000 non-null  object
 1   Transaction_Date       10000 non-null  object
 2   Transaction_Year       10000 non-null  int64
 3   Transaction_Month      10000 non-null  int64
 4   Market_Condition       10000 non-null  object
 5   Location_Name          10000 non-null  object
 6   Location_Maturity      10000 non-null  object
 7   Area_SqFt              10000 non-null  int64
 8   Bedrooms               10000 non-null  int64
 9   Bathrooms              10000 non-null  int64
 10  Property_Type          10000 non-null  object
 11  Resale                 10000 non-null  int64
 12  New_Construction       10000 non-null  int64
 13  Gated_Community        10000 non-null  int64
 14  Builder_Reputation     10000 non-null  int64
 15  Year_Built             10000 non-null  int64
 16  Possession_Status      10000 non-null  object
 17  Facing_Direction       10000 non-null  object
 18  Balcony                10000 non-null  int64
 19  Maintenance_Staff      10000 non-null  int64
 20  Gymnasium              10000 non-null  int64
 21  Swimming_Pool          10000 non-null  int64
 22  Landscaped_Gardens     10000 non-null  int64
 23  Jogging_Track          10000 non-null  int64
 24  Club_House             10000 non-null  int64
 25  24x7_Security          10000 non-null  int64
 26  Power_Backup           10000 non-null  int64
 27  Car_Parking            10000 non-null  int64
 28  Lift_Available         10000 non-null  int64
 29  School_Proximity_Km    10000 non-null  float64
 30  Hospital_Proximity_Km  10000 non-null  float64
 31  IT_Hub_Proximity_Km    10000 non-null  float64
 32  Metro_Proximity_Km     10000 non-null  float64
 33  Amenities_Score        10000 non-null  int64
 34  Furnishing_Status      10000 non-null  object
 35  Transaction_Type       10000 non-null  object
 36  Floors                 10000 non-null  int64
 37  Age_of_Property_Years  10000 non-null  int64
 38  Price_per_SqFt         10000 non-null  float64
 39  Price_Lakhs            10000 non-null  float64
 40  Period                 10000 non-null  object
dtypes: float64(6), int64(24), object(11)
memory usage: 3.1+ MB

In [9]:
print(type(data["Location_Name"].value_counts()))

<class 'pandas.core.series.Series'>

In [10]:
y=data["Location_Name"].value_counts()

In [11]:
for i in y.index:
    print(i)

Kukatpally
Miyapur
Nallagandla
Narsingi
Uppal
Punjagutta
Kollur
Rajendranagar
Nizampet
Begumpet
Attapur
Somajiguda
Patancheru
LB Nagar
Bachupally
Hitech City
Rampally
Mehdipatnam
Banjara Hills
Kompally
Gachibowli
Pocharam
Ameerpet
Tolichowki
Kondapur
Secunderabad
Jubilee Hills
Shamshabad
Manikonda
Madhapur